<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibk.sb.restapi.biz.service.admin.repo.AdminVncmLoanRepo">
    <!--    SchemaMapper ID-->
    <sql id="INVEST"><include refid="com.ibk.sb.restapi.biz.service.common.repo.SchemaRepo.INVEST"/></sql>

    <!--    PagingMapper ID-->
    <sql id="pagingHeader"><include refid="com.ibk.sb.restapi.biz.service.common.repo.PageRepo.pageHeader"/></sql>
    <sql id="pagingFooter"><include refid="com.ibk.sb.restapi.biz.service.common.repo.PageRepo.pageFooter"/></sql>

    <!--    벤처대출추천 리스트 조회-->
    <select id="searchVncmLoanList" parameterType="RequestVncmLoanVO" resultType="AdminVncmLoanVO">
        <include refid="pagingHeader"/>
            SELECT S1.VNENTRLON_ID
                 , S1.RCMD_ENPR_BZN
                 , S1.UTLINSTT_ID
                 , (SELECT A.ETNM FROM IVBADM.TB_BOX_IVT_ENPR_INFO_M A WHERE A.UTLINSTT_ID = S1.UTLINSTT_ID) AS INVM_ENPR_NM
                 , S1.ETNM
                 , S1.RGSN_TS
                 , S1.RECOMEND_STTUS
                 , (SELECT COM_CD_NM FROM IVBADM.TB_BOX_IVT_COM_CD_D WHERE (GRP_CD_ID = 'RST01' OR GRP_CD_ID = 'RST02') AND COM_CD_ID = S1.RECOMEND_STTUS) AS RECOMEND_STTUS_NM     
            FROM
                <include refid="INVEST"/>TB_BOX_IVT_VNENTRLON_REQST_BASS_M S1
               
            WHERE 1=1
                
                <if test="searchComNm != null and !searchComNm.equals('')">
                AND (
                    UPPER(S1.ETNM) LIKE '%' || UPPER(#{searchComNm}) || '%'
                )
                </if>
                <if test="searchRcmdEnrpBzn != null and !searchRcmdEnrpBzn.equals('')">
                AND UPPER(S1.RCMD_ENPR_BZN) LIKE '%' || UPPER(#{searchRcmdEnrpBzn}) || '%'
                </if>
                <if test="searchRecomendSttus != null and !searchRecomendSttus.equals('')">
                AND S1.RECOMEND_STTUS = #{searchRecomendSttus}
                </if>
                
                
            ORDER BY
                S1.RGSN_TS DESC
        <include refid="pagingFooter"/>
    </select>
    
    <!--    벤처대출추천 상세 조회-->
    <select id="searchVncmLoan" parameterType="String" resultType="AdminVncmLoanVO">
        SELECT S1.VNENTRLON_ID	/*식별번호*/	
             , S1.UTLINSTT_ID					/*이용기관(회사) ID*/
             , S1.RCMD_ENPR_BZN				/*제안 기업 사업자번호*/
             , S1.ETNM						/*기업명*/
             , S1.RPRNM						/*대표자명*/
             , TO_CHAR(TO_DATE(S1.COL,'YYYYMMDD'),'YYYY-MM-DD') AS COL /*설립년월일*/
             , S1.ADR							/*본사 주소*/
             , S1.BTNM						/*업종명(표준산업분류)*/
             , S1.INVT_INDUTY_SE				/*투자업종 구분*/
             , (SELECT COM_CD_NM FROM IVBADM.TB_BOX_IVT_COM_CD_D WHERE GRP_CD_ID = 'TPBS1' AND COM_CD_ID = S1.INVT_INDUTY_SE) AS INVT_INDUTY_SE_NM /*투자업종명*/
             , S1.MAIN_PRODUCT				/*주요제품*/
             , S1.RSPR_NM						/*기업 담당자명*/
             , S1.RSPR_JBCL_NM				/*담당자 직책*/
             , S1.RSPR_CNPL_TPN				/*담당자 연락처*/
             , S1.RSPR_EAD					/*담당자 이메일*/
             , S1.ENTRPRS_CMPTPW				/*기업 경쟁력 또는성장가능성*/
             , S1.FLLWINVT_POSBLTY_EXPECT_ERA		/*후속투자 가능성 및예상시기*/
             , S1.INVT_DTLS_INVT_INSTT	/*투자내역_투자기관*/
             , S1.INVT_DTLS_INVT_PNTTM	/*투자내역_투자라운드(직전)*/
             , S1.INVT_DTLS_INVT_AMOUNT	/*투자내역_투자금액(원)*/
             , DECODE(S1.INVT_DTLS_INVT_DE, ' ','',TO_CHAR(TO_DATE(S1.INVT_DTLS_INVT_DE,'YYYYMMDD'),'YYYY-MM-DD')) AS INVT_DTLS_INVT_DE /*투자내역_투자일자(직전)*/
             , S1.INVT_DTLS_STKPC	/*투자내역_주당가격(원)*/
             , S1.INVT_DTLS_ETVL_AMT	/*투자내역_기업가치(원)*/
             , S1.INVT_DTLS_INVT_KND	/*투자내역_투자종류*/
             , S1.INVT_DTLS_RM	/*투자내역_비고*/
             , S1.CHRG_AUDOFIR_RSPR_NM	/*담당심사역_담당자이름*/
             , S1.CHRG_AUDOFIR_RSPR_JBCL_NM	/*담당심사역_담당자직책*/
             , S1.CHRG_AUDOFIR_RSPR_CNPL_TPN	/*담당심사역_담당자연락처 */
             , S1.CHRG_AUDOFIR_RSPR_EAD	/*담당심사역_담당자이메일*/ 
             , S1.CONTACT_AUDOFIR_RSPR_NM	/*연락담당자_담당자이름*/
             , S1.CONTACT_AUDOFIR_RSPR_JBCL_NM	/*연락담당자_담당자직책*/
             , S1.CONTACT_AUDOFIR_RSPR_CNPL_TPN	/*연락담당자_담당자연락처 */
             , S1.CONTACT_AUDOFIR_RSPR_EAD	/*연락담당자_담당자이메일 */
             , S1.RECOMEND_IBK_BUZPLC	/*추천 기업은행 영업점*/
             , S1.RECOMEND_STTUS AS RECOMEND_STTUS	/*추천 진행 상태*/
             , S1.INVT_FACT_PRUF_PAPERS_ATCH	/*투자사실 증빙 서류 첨부*/
             , S1.INVT_ANALS_REPRT_ATCH	/*투자분석 보고서(투자심사자료) 첨부*/
             , S1.ETC_FILE_ATCH	/*기타 파일 첨부*/
             , S1.RGSN_TS	/*등록일*/
             , S1.RGSN_USER_ID	/*동록자 ID*/
             , S1.AMNN_TS	/*수정일*/
             , S1.AMNN_USER_ID	/*수정자 ID*/
             , S1.INVT_INSTT_DLIV_MSG	/*투자기관에 전달할 메시지*/
             , S1.EMAIL_SNDNG_YN	/*이메일 발송 여부*/
             , S1.SMS_SNDNG_YN	/*sms 발송 여부*/
             , NVL(TRIM(S1.DTA_PRESENTN_YN), 'N') AS DTA_PRESENTN_YN	/*자료제출 여부*/
             , BPR_IDX_NO /*BPR 인덱스 넘버*/
          FROM 
        <include refid="INVEST"/>TB_BOX_IVT_VNENTRLON_REQST_BASS_M S1
        WHERE 1=1
          <choose>
        	<when test="rcmdEnprBzn != null and !rcmdEnprBzn.equals('')">
        		AND S1.RCMD_ENPR_BZN = #{rcmdEnprBzn}
        	</when>
        	<otherwise>
        		AND S1.VNENTRLON_ID = #{vnentrlonId}
        	</otherwise>
        </choose>
    </select>
    
    <!--    벤처대출추천 내역 첨부파일 리스트 조회-->
    <select id="selectVncmLoanFileList" parameterType="String" resultType="NoticeFileVO">
        SELECT
        S1.INVT_ID
        , S1.ATCH_DSNC
        , S1.BSDS_CD
        , S2.FILE_ID
        , S2.FILE_NM
        , S1.RGSN_USER_ID
        , S1.RGSN_TS
        FROM
        <include refid="INVEST"/>TB_BOX_IVT_IDIV_ATCH_R S1
        LEFT JOIN
        <include refid="INVEST"/>TB_BOX_IVT_FILE_ATCH_M S2 ON S1.FILE_ID = S2.FILE_ID
        WHERE
        S1.INVT_ID = #{invtId}
        AND S1.ATCH_DSNC = #{atchDsnc}
        AND S1.BSDS_CD = #{bsdsCd}
    </select>
    
    
    <!--    벤처대출 신청 내역 조회-->
	<select id="searchVncmLoanAplcList" parameterType="RequestVncmLoanVO" resultType="VncmLoanAplcVO">
        <include refid="pagingHeader"/>
            SELECT S1.VNENTRLON_ID			/*식별번호*/
                 , S1.BZN					/*사업자번호*/
                 , S1.UTLINSTT_ID			/*이용기관 ID*/
                 , S1.ETNM					/*기업명*/
                 , S1.RGSN_TS				/*등록일*/
                 , S1.RECOMEND_STTUS_CM		/*추천상태*/
                 , S1.RSPR_NM 				/*기업 담당자명*/
     			 , S1.RSPR_CNPL_TPN  		/*담당자 연락처*/
                 , (SELECT COM_CD_NM FROM IVBADM.TB_BOX_IVT_COM_CD_D WHERE GRP_CD_ID = 'RST02' AND COM_CD_ID = S1.RECOMEND_STTUS_CM) AS RECOMEND_STTUS_CM_NM	/*추천상태명*/
                 , (SELECT A.ETNM FROM IVBADM.TB_BOX_IVT_ENPR_INFO_M A WHERE A.UTLINSTT_ID = S1.UTLINSTT_ID) AS INVM_ENPR_NM /* 추천투자기관명 */
            FROM
                <include refid="INVEST"/>TB_BOX_IVT_VNENT_RLON_APLC_RGSN_M S1
            WHERE 1=1
                <!-- 
                <if test="searchUtlinsttId != null and !searchUtlinsttId.equals('')">
                    AND S1.UTLINSTT_ID = #{searchUtlinsttId}
                </if>
                 -->
                <if test="searchComNm != null and !searchComNm.equals('')">
                AND (
                    UPPER(S1.ETNM) LIKE '%' || UPPER(#{searchComNm}) || '%'
                )
                </if>
                <if test="searchRcmdEnrpBzn != null and !searchRcmdEnrpBzn.equals('')">
                AND UPPER(S1.BZN) LIKE '%' || UPPER(#{searchRcmdEnrpBzn}) || '%'
                </if>
                <if test="searchRecomendSttus != null and !searchRecomendSttus.equals('')">
                AND S1.RECOMEND_STTUS_CM = #{searchRecomendSttus}
                </if>
                
            ORDER BY
                S1.RGSN_TS DESC
        <include refid="pagingFooter"/>
    </select>
    
    <!--    벤처대출신청 상세 조회-->
    <select id="searchVncmLoanAplc" parameterType="String" resultType="AdminVncmLoanAplcVO">
        SELECT S1.VNENTRLON_ID	            /*	 */
             , S1.UTLINSTT_ID	            /*이용기관(회사) ID 	 */
             , S1.BIZRNO	            /*사업자등록증 파일 	 */
             , S1.VAT_STDTAX_PROOF	            /*부가세과세표준증명원 (최근 3개년도) 	 */
             , S1.CPR_RGIST_MATTER_ALL_CRTF	            /*법인등기사항전부증명서 	 */
             , S1.STCH_INFO_MNGM_NO	            /*주주명부 	 */
             , S1.CMPNY_INTRCN	            /*회사소개서(IR자료) 	 */
             , S1.ETNM	            /*기업명 	 */
             , S1.RPRNM	            /*대표자명 	 */
             , S1.BZN	            /*사업자번호 	 */
             , S1.COL	            /*설립년월일 	 */
             , S1.ADR	            /*본사 주소 	 */
             , S1.RSPR_NM	            /*기업 담당자명 	 */
             , S1.RSPR_JBCL_NM	            /*담당자 직책 	 */
             , S1.RSPR_CNPL_TPN	            /*담당자 연락처 	 */
             , S1.RSPR_EAD	            /*담당자 이메일 	 */
             , S1.INNF_INQ_COSN	            /*개인(신용)정보 조회동의서 다운로드 url 	 */
             , S1.INNF_CLUS_COSN	            /*개인(신용)정보 수집 이용 동의서 url 	 */
             , S1.ATCSC_ATCHMNFL	            /*정관 첨부파일 url 	 */
             , S1.GMTSCK_ANACT	            /*주주총회 또는 이사회 결의서 url	 */
             , S1.RECOMEND_STTUS_CM		/*추천상태*/
             , S1.RECOMEND_STTUS_CM_RM  /*추천상태 비고시 입력값*/ 
             , S1.RGSN_TS	            /*등록일 	 */
             , S1.RGSN_USER_ID	            /*동록자 ID 	 */
             , S1.AMNN_TS	            /*수정일 	 */
             , S1.AMNN_USER_ID	            /*수정자 ID 	 */  
          FROM 
        <include refid="INVEST"/>TB_BOX_IVT_VNENT_RLON_APLC_RGSN_M S1
        WHERE 1=1
          <choose>
        	<when test="bzn != null and !bzn.equals('')">
        		AND S1.BZN = #{bzn}
        	</when>
        	<otherwise>
        		AND S1.VNENTRLON_ID = #{vnentrlonId}
        	</otherwise>
          </choose>
          
    </select>
    
    <!--    협약벤처기관 관리에 해당 사업자번호로 데이터 check -->
    <select id="selectAgisChk" parameterType="String" resultType="Integer">
        SELECT COUNT(1) 
          FROM 
        <include refid="INVEST"/>TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M
        WHERE 1=1
          AND BZN = #{bzn}
    </select>

    <!--    기업 기본 정보 조회 -->
    <select id="selectEnrpInfo" parameterType="String" resultType="Integer">
        SELECT ENPR_INFO 
          FROM 
        <include refid="INVEST"/>TB_BOX_IVT_ENPR_INFO_M
        WHERE 1=1
          AND BZN = #{bzn}
    </select>
    
    <insert id="insertVncmLoanAplc">
        INSERT INTO <include refid="INVEST"/>TB_BOX_IVT_VNENT_RLON_APLC_RGSN_M
        (
            VNENTRLON_ID
            , UTLINSTT_ID
            , RECOMEND_STTUS_CM
            , BZN
            , RGSN_USER_ID
            , RGSN_TS
            , AMNN_USER_ID
            , AMNN_TS
        )
        values
        (
            #{params.vnentrlonId}
            , #{params.utlinsttId}
            , 'RST01004'
            , #{params.rcmdEnprBzn}
            , #{params.rgsnUserId}
            , CURRENT_TIMESTAMP
            , #{params.amnnUserId}
            , CURRENT_TIMESTAMP
        )
    </insert>
  
    <!-- 벤처대출 추천 진행상태 수정 -->
    <update id="updateVncmLoanInfo">
        UPDATE <include refid="INVEST"/>TB_BOX_IVT_VNENTRLON_REQST_BASS_M
        SET
            RECOMEND_STTUS      = #{params.recomendSttus}
            <if test="params.invtInsttDlivMsg != null and !params.invtInsttDlivMsg.equals('')">
           	, INVT_INSTT_DLIV_MSG = #{params.invtInsttDlivMsg}	
            </if>  
            <if test="params.emailSndngYn != null and !params.emailSndngYn.equals('')">
           	, EMAIL_SNDNG_YN = #{params.emailSndngYn}	
            </if>
            <if test="params.smsSndngYn != null and !params.smsSndngYn.equals('')">
            , SMS_SNDNG_YN = #{params.smsSndngYn}	
            </if>
            
            , AMNN_USER_ID  = #{params.amnnUserId}
            , AMNN_TS       = CURRENT_TIMESTAMP
        WHERE 1=1
        AND VNENTRLON_ID = #{params.vnentrlonId}
    </update>
    
    <!-- 벤처대출 신청 진행상태 수정 -->
    <update id="updateVncmLoanAplc">
        UPDATE <include refid="INVEST"/>TB_BOX_IVT_VNENT_RLON_APLC_RGSN_M
        SET
            RECOMEND_STTUS_CM      = #{params.recomendSttusCm}
            <if test="params.recomendSttusCm != null and params.recomendSttusCm.equals('RST02007')">
            	,RECOMEND_STTUS_CM_RM = #{params.recomendSttusCmRm}
            </if>
            , AMNN_USER_ID  = #{params.amnnUserId}
            , AMNN_TS       = CURRENT_TIMESTAMP
        WHERE 1=1
        AND VNENTRLON_ID = #{params.vnentrlonId}
    </update>
       
     <!--    협약벤처투자기관 리스트 조회-->
    <select id="searchAgisList" parameterType="RequestVncmLoanVO" resultType="AdminAgisVO">
		<include refid="pagingHeader"/>
        SELECT 
			AGREM_VNENTR_SEQ
			, INVM_ENPR_NM
			, BZN
			, ADR
			, AGREM_YN
			, AGREM_CNCLSDE
			, AGREM_EXPRTNDE
			, AGRMNT_ATCHMNFL
			, CONTACT_RSPR_ONE_NM
			, CONTACT_RSPR_ONE_CNPL_TPN
			, CONTACT_RSPR_ONE_EAD
			, CONTACT_RSPR_TWO_NM
			, CONTACT_RSPR_TWO_CNPL_TPN
			, CONTACT_RSPR_TWO_EAD
			, RGSN_TS
			, RGSN_USER_ID
			, AMNN_TS
			, AMNN_USER_ID
		FROM
			<include refid="INVEST"/>TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M
		WHERE 1 = 1
			<if test="searchComNm != null and !searchComNm.equals('')">
			AND (
			    UPPER(INVM_ENPR_NM) LIKE '%' || UPPER(#{searchComNm}) || '%'
			)
			</if>
			<if test="searchRcmdEnrpBzn != null and !searchRcmdEnrpBzn.equals('')">
			AND UPPER(BZN) LIKE '%' || UPPER(#{searchRcmdEnrpBzn}) || '%'
			</if>
			ORDER BY RGSN_TS DESC
		<include refid="pagingFooter"/>
    </select>
    
    <!--    협약벤처투자기관 상세 조회-->
    <select id="searchAgisDetail" parameterType="Integer" resultType="AdminAgisVO">
        SELECT 
			AGREM_VNENTR_SEQ
			, INVM_ENPR_NM
			, BZN
			, ADR
			, AGREM_YN
			, AGREM_CNCLSDE
			, AGREM_EXPRTNDE
			, AGRMNT_ATCHMNFL
			, CONTACT_RSPR_ONE_NM
			, CONTACT_RSPR_ONE_CNPL_TPN
			, CONTACT_RSPR_ONE_EAD
			, CONTACT_RSPR_TWO_NM
			, CONTACT_RSPR_TWO_CNPL_TPN
			, CONTACT_RSPR_TWO_EAD
			, RGSN_TS
			, RGSN_USER_ID
			, AMNN_TS
			, AMNN_USER_ID
		FROM
        <include refid="INVEST"/>TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M
        WHERE 1=1
          AND AGREM_VNENTR_SEQ = #{agremVnentrSeq}
    </select>
    
     <!--    협약벤처투자기관 등록/수정 -->
	<update id="updateAgisInfo" parameterType="AdminAgisVO">
		MERGE INTO <include refid="INVEST"/>TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M m
            USING DUAL ON (m.AGREM_VNENTR_SEQ = #{agremVnentrSeq})
        WHEN MATCHED THEN
			 UPDATE 
		        SET
		          INVM_ENPR_NM = #{invmEnprNm}
				, BZN = #{bzn}
			<choose>
		       	<when test="adr != null and !adr.isEmpty()">
	       		, ADR = #{adr}	
		       	</when>
		       	<otherwise>
	       		, ADR = ' '
		       	</otherwise>
	        </choose>
	        <choose>
		       	<when test="agremYn != null and !agremYn.equals('')">
	       		 , AGREM_YN = #{agremYn}
		       	</when>
		       	<otherwise>
	       		, AGREM_YN = ' '
		       	</otherwise>
	        </choose>	
	       <choose>
		       	<when test="agremCnclsde != null and !agremCnclsde.equals('')">
	       		 , AGREM_CNCLSDE = #{agremCnclsde}
		       	</when>
		       	<otherwise>
	       		, AGREM_CNCLSDE = ' '
		       	</otherwise>
	        </choose>
	        <choose>
		       	<when test="agremExprtnde != null and !agremExprtnde.equals('')">
	       		, AGREM_EXPRTNDE = #{agremExprtnde}
		       	</when>
		       	<otherwise>
	       		, AGREM_EXPRTNDE = ' '
		       	</otherwise>
	        </choose>
	       <choose>
		       	<when test="agrmntAtchmnfl != null and !agrmntAtchmnfl.equals('')">
	       		, AGRMNT_ATCHMNFL = #{agrmntAtchmnfl}
		       	</when>
		       	<otherwise>
	       		, AGRMNT_ATCHMNFL = ' '
		       	</otherwise>
	        </choose>
				, CONTACT_RSPR_ONE_NM = #{contactRsprOneNm}
				, CONTACT_RSPR_ONE_CNPL_TPN = #{contactRsprOneCnplTpn}
			<choose>
		       	<when test="contactRsprOneEad != null and !contactRsprOneEad.equals('')">
	       		, CONTACT_RSPR_ONE_EAD = #{contactRsprOneEad}
		       	</when>
		       	<otherwise>
	       		, CONTACT_RSPR_ONE_EAD = ' '
		       	</otherwise>
	        </choose>
				, CONTACT_RSPR_TWO_NM = #{contactRsprTwoNm}
				, CONTACT_RSPR_TWO_CNPL_TPN = #{contactRsprTwoCnplTpn}
			<choose>
		       	<when test="contactRsprTwoEad != null and !contactRsprTwoEad.equals('')">
	       		, CONTACT_RSPR_TWO_EAD = #{contactRsprTwoEad}
		       	</when>
		       	<otherwise>
	       		, CONTACT_RSPR_TWO_EAD = ' '
		       	</otherwise>
	        </choose>
		        , AMNN_USER_ID  = #{amnnUserId}
		        , AMNN_TS       = CURRENT_TIMESTAMP
		        WHERE 1=1
		        AND AGREM_VNENTR_SEQ = #{agremVnentrSeq}
       	WHEN NOT MATCHED THEN
	       INSERT 
	       (
	          AGREM_VNENTR_SEQ
			, INVM_ENPR_NM
			, BZN
			, ADR
			, AGREM_YN
			, AGREM_CNCLSDE
			, AGREM_EXPRTNDE
			, AGRMNT_ATCHMNFL
			, CONTACT_RSPR_ONE_NM
			, CONTACT_RSPR_ONE_CNPL_TPN
			, CONTACT_RSPR_ONE_EAD
			, CONTACT_RSPR_TWO_NM
			, CONTACT_RSPR_TWO_CNPL_TPN
			, CONTACT_RSPR_TWO_EAD
			, RGSN_TS
			, RGSN_USER_ID
	
	       )
	       values
	       (
	           (SELECT NVL(MAX(AGREM_VNENTR_SEQ), 0) + 1
	            FROM <include refid="INVEST"/>TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M)
	        , #{invmEnprNm}
	   	    , #{bzn}
	   	    <choose>
		       	<when test="adr != null and !adr.isEmpty()">
		       		, #{adr}	
		       	</when>
		       	<otherwise>
		       		, ' '
		       	</otherwise>
	        </choose>
	        <choose>
		       	<when test="agremYn != null and !agremYn.equals('')">
		       		 , #{agremYn}
		       	</when>
		       	<otherwise>
		       		, ' '
		       	</otherwise>
	        </choose>	
	       <choose>
		       	<when test="agremCnclsde != null and !agremCnclsde.equals('')">
		       		  , #{agremCnclsde}
		       	</when>
		       	<otherwise>
		       		, ' '
		       	</otherwise>
	        </choose>
	        <choose>
		       	<when test="agremExprtnde != null and !agremExprtnde.equals('')">
		       		 , #{agremExprtnde}
		       	</when>
		       	<otherwise>
		       		, ' '
		       	</otherwise>
	        </choose>
	       <choose>
		       	<when test="agrmntAtchmnfl != null and !agrmntAtchmnfl.equals('')">
		       		 , #{agrmntAtchmnfl}
		       	</when>
		       	<otherwise>
		       		, ' '
		       	</otherwise>
	        </choose>
	        , #{contactRsprOneNm}
	        , #{contactRsprOneCnplTpn}
	        <choose>
		       	<when test="contactRsprOneEad != null and !contactRsprOneEad.equals('')">
		       		 , #{contactRsprOneEad}
		       	</when>
		       	<otherwise>
		       		, ' '
		       	</otherwise>
	        </choose>
	        , #{contactRsprTwoNm}
	        , #{contactRsprTwoCnplTpn}
	        <choose>
		       	<when test="contactRsprTwoEad != null and !contactRsprTwoEad.equals('')">
		       		 , #{contactRsprTwoEad}
		       	</when>
		       	<otherwise>
		       		, ' '
		       	</otherwise>
	        </choose>
	        , CURRENT_TIMESTAMP
	        <choose>
		       	<when test="rgsnUserId != null and !rgsnUserId.equals('')">
		       		 , #{rgsnUserId}
		       	</when>
		       	<otherwise>
		       		, ' '
		       	</otherwise>
	        </choose>
	        
	       )
    </update>

    <update id="insertVncmLoanBprIdxNo">
        UPDATE <include refid="INVEST"/>TB_BOX_IVT_VNENTRLON_REQST_BASS_M
        SET
            BPR_IDX_NO      = #{params.bprIdxNo}
        WHERE 1=1
        AND VNENTRLON_ID = #{params.vnentrlonId}
    </update>
    
    <select id="selectAgisSeqInfo" resultType="Integer">
    	SELECT max(AGREM_VNENTR_SEQ) FROM IVBADM.TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M;
    </select>
    
    <!-- 협약 벤처투자기관 관리 협약서 Y합계 -->
    <select id="searchAgremY" resultType="Integer">
    	SELECT COUNT(AGREM_YN) FROM IVBADM.TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M WHERE AGREM_YN = 'Y'
    </select>
    
    <!-- 협약 벤처투자기관 관리 협약서 N합계 -->
    <select id="searchAgremN" resultType="Integer">
    	SELECT COUNT(AGREM_YN) FROM IVBADM.TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M WHERE AGREM_YN = 'N'
    </select>
	
	<!--    협약벤처투자기관 사업자 번호로 투자사 조회-->
    <select id="searchAgisBzn" parameterType="String" resultType="AdminAgisVO">
        SELECT 
			AGREM_VNENTR_SEQ
			, INVM_ENPR_NM
			, BZN
			, ADR
			, AGREM_YN
			, AGREM_CNCLSDE
			, AGREM_EXPRTNDE
			, AGRMNT_ATCHMNFL
			, CONTACT_RSPR_ONE_NM
			, CONTACT_RSPR_ONE_CNPL_TPN
			, CONTACT_RSPR_ONE_EAD
			, CONTACT_RSPR_TWO_NM
			, CONTACT_RSPR_TWO_CNPL_TPN
			, CONTACT_RSPR_TWO_EAD
			, RGSN_TS
			, RGSN_USER_ID
			, AMNN_TS
			, AMNN_USER_ID
		FROM
        <include refid="INVEST"/>TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M
        WHERE 1=1
          AND BZN = #{bzn}
    </select>
    
    <!--    협약 벤처투자 기관 리스트 excel 조회-->
    <select id="searchExcelAgisList" parameterType="RequestVncmLoanVO" resultType="AdminAgisExcelVO">
        SELECT 
			AGREM_VNENTR_SEQ
			, INVM_ENPR_NM
			, BZN
			, ADR
			, AGREM_YN
			, AGREM_CNCLSDE
			, AGREM_EXPRTNDE
			, AGRMNT_ATCHMNFL
			, CONTACT_RSPR_ONE_NM
			, CONTACT_RSPR_ONE_CNPL_TPN
			, CONTACT_RSPR_ONE_EAD
			, CONTACT_RSPR_TWO_NM
			, CONTACT_RSPR_TWO_CNPL_TPN
			, CONTACT_RSPR_TWO_EAD
			, RGSN_TS
			, RGSN_USER_ID
			, AMNN_TS
			, AMNN_USER_ID
		FROM
			<include refid="INVEST"/>TB_BOX_IVT_AGREM_VNENTR_INVT_MANAGE_M
		WHERE 1 = 1
			ORDER BY RGSN_TS DESC
    </select>
    
    
    <!--    벤처대출추천 VC리스트 excel 조회-->
    <select id="searchVncmLoanExcelList" parameterType="RequestVncmLoanVO" resultType="AdminVCmdExcelVO">
		SELECT S1.VNENTRLON_ID
            , S1.RCMD_ENPR_BZN
            , S1.UTLINSTT_ID
            , (SELECT A.ETNM FROM IVBADM.TB_BOX_IVT_ENPR_INFO_M A WHERE A.UTLINSTT_ID = S1.UTLINSTT_ID) AS INVM_ENPR_NM
            , S1.ETNM
            , S1.RGSN_TS
            , S1.RECOMEND_STTUS
            , (SELECT COM_CD_NM FROM IVBADM.TB_BOX_IVT_COM_CD_D WHERE (GRP_CD_ID = 'RST01' OR GRP_CD_ID = 'RST02') AND COM_CD_ID = S1.RECOMEND_STTUS) AS RECOMEND_STTUS_NM     
       	FROM
           <include refid="INVEST"/>TB_BOX_IVT_VNENTRLON_REQST_BASS_M S1
       	WHERE 1=1
       	ORDER BY
           S1.RGSN_TS DESC
    </select>
    
    <!--    벤처대출추천 RC리스트 excel 조회-->
    <select id="searchVncmLoanAplcExcelList" parameterType="RequestVncmLoanVO" resultType="AdminRCmdExcelVO">
		SELECT S1.VNENTRLON_ID			/*식별번호*/
		     , S1.BZN					/*사업자번호*/
		     , S1.UTLINSTT_ID			/*이용기관 ID*/
		     , S1.ETNM					/*기업명*/
		     , S1.RGSN_TS				/*등록일*/
		     , S1.RECOMEND_STTUS_CM		/*추천상태*/
		     , S1.RSPR_NM 				/*기업 담당자명*/
     		 , S1.RSPR_CNPL_TPN  		/*담당자 연락처*/ 
		     , (SELECT COM_CD_NM FROM IVBADM.TB_BOX_IVT_COM_CD_D WHERE GRP_CD_ID = 'RST02' AND COM_CD_ID = S1.RECOMEND_STTUS_CM) AS RECOMEND_STTUS_CM_NM	/*추천상태명*/
		     , (SELECT A.ETNM FROM IVBADM.TB_BOX_IVT_ENPR_INFO_M A WHERE A.UTLINSTT_ID = S1.UTLINSTT_ID) AS INVM_ENPR_NM /* 추천투자기관명 */
		FROM
		   <include refid="INVEST"/>TB_BOX_IVT_VNENT_RLON_APLC_RGSN_M S1
		WHERE 1=1
		ORDER BY S1.RGSN_TS DESC;
    </select>
    
</mapper>