<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibk.sb.restapi.biz.service.user.repo.UserInfoRepo">

    <!--    SchemaMapper ID-->
<!--    <sql id="MNBADM"><include refid="com.ibk.sb.restapi.biz.service.common.repo.SchemaRepo.MNBADM"/></sql>-->
    <sql id="INVEST"><include refid="com.ibk.sb.restapi.biz.service.common.repo.SchemaRepo.INVEST"/></sql>

    <select id="selectUserInfoByUserId" parameterType="String" resultType="UserVO">

    </select>

    <!--    회원 - 기업 매핑 정보 조회-->
    <select id="selectUserCompanyByUserId" parameterType="String" resultType="UserCompanyVO">
<!--        SELECT-->
<!--            fuum.USER_ID-->
<!--            , fuum.UTLINSTT_ID-->
<!--            , fuum.AUTHOR_CODE-->
<!--            , fuum.IVT_AUTHOR_AT-->
<!--            , fuum.PURCHS_AUTHOR_AT-->
<!--            , fuum.DFLT_AT-->
<!--            , fuum.REPRSNT_BPLC_AT-->
<!--            , fuum.REGIST_UTLINSTT-->
<!--            , fuum.REGIST_ID-->
<!--            , fuum.REGIST_DT-->
<!--            , fuum.UPDT_UTLINSTT-->
<!--            , fuum.UPDT_ID-->
<!--            , fuum.UPDT_DT-->

<!--            , CASE WHEN tbivcl.UTLINSTT_ID IS NULL THEN 'COM' ELSE 'VC' END AS UTLINSTT_TYPE-->
<!--            , ful.BPLC_NM-->
<!--            , ful.BIZRNO-->
<!--            , CASE WHEN (ful.CMPNY_LOGO_IMAGE_FILE IS NULL OR ful.CMPNY_LOGO_IMAGE_FILE = ' ') THEN ful.CMPNY_LOGO_BASS_IMAGE_FILE ELSE ful.CMPNY_LOGO_IMAGE_FILE END AS LOGO_IMAGE_FILE-->
<!--        FROM-->
<!--            <include refid="MNBADM"/>FFPC_UTLINSTT_USER_MAPNG fuum-->
<!--        LEFT JOIN-->
<!--            <include refid="INVEST"/>TB_BOX_IVT_VNCM_CPTL_L tbivcl ON fuum.UTLINSTT_ID = tbivcl.UTLINSTT_ID-->
<!--        LEFT JOIN-->
<!--            <include refid="MNBADM"/>FFPC_UTLINSTT_LEDGR ful ON ful.UTLINSTT_ID = fuum.UTLINSTT_ID-->
<!--        WHERE-->
<!--            USER_ID = #{userId}-->
    </select>
</mapper>